/*
  - p - element selector
  - #element - id selector
  - .element - class selector
*/
/*
  rem = CONSTANT - 10px;
  h1 -> 3rem = 30px
  p -> 1.6rem = 16px
  span -> 0.8rem = 8px
  div -> 5rem = 50px
 */

html {
    font-size: 10px; /* This is the ROOT or Constant */
}

body {
    font-family: "Quicksand", sans-serif, monospace;
    font-size: 1.6rem;
    font-weight: 400;
    background-image: linear-gradient(
        to right,
        rgba(165, 69, 111, 0.75),
        rgba(148, 187, 233, 0.75)
    );
    padding: 2rem 0;
}

main {
    max-width: 72rem; /* This element must not exceed 720px in width */
    /* margin: 10rem 20rem 20rem 15rem; -> top, right, bottom, left margins */
    margin: 0 auto;
    color: white;
}

header {
    text-align: center;
    margin-bottom: 2.5rem;
}

#description {
    font-size: 2rem;
}

#survey-form {
    background-color: rgba(27, 27, 50, 0.9);
    padding: 3rem 5rem;
    border-radius: 0.65rem;
}

.form-class {
    margin-bottom: 2rem;
}

.form_input {
    display: block;
    width: 100%;
    outline: none;
    padding: 1.2rem;
    font-family: inherit; /* inherits the font-family from the parent - Quicksand */
    margin-top: 0.4rem;
    border-radius: 0.5rem;
}

.form-class_label {
    display: block;
    margin: 0.5rem 0;
}

.form_submit,
.form_reset {
    display: block;
    width: 100%;
    margin: 1.5rem 0;
    color: white;
    padding: 1.3rem 0;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.form_submit {
  background-color: #37af65;
}

.form_reset {
  background-color: rgb(241, 92, 92);
}