h2 {
  background-color: dodgerblue;
  margin-top: 20px;
  margin-bottom: 0;
  margin-right: 50px;
  margin-left: 75px;
}

h3 {
  padding: 20px 50px;
}

span, em {
  display: block;
  /* margin: 40px -> This applies to every side */
  /* margin: 40px 20px 10px 30px; */
  margin: 40px 20px; /* 40px -> (top, bottom); 20px -> (right, left) */
}

div {
  display: inline-block;
  margin: 20px;
  /* padding: 40px; */
}